<!-- components/header.html -->
<!-- <header> -->
    <!-- <img src="assets/images/logo_v002.png" alt="Long Covid Navigator Logo" class="site-logo"> -->
<!-- </header> -->
<header class="site-header">
    <div class="logo-wrapper">
        <img src="assets/images/Logo_v002_justLogo.png" alt="Logo links" class="logo">
    </div>
    <div class="site-title">Long Covid Navigator</div>
    <div class="logo-wrapper">
        <img src="assets/images/Logo_v002_justLogo.png" alt="Logo rechts" class="logo mirrored">
    </div>
</header>

<nav>
    <ul>
        <li><a href="index.html">Startseite</a></li>
        <li><a href="lcnprotocol.html">LCN-Protokoll</a></li>
        <li><a href="uebersicht.html">Übersicht</a></li>
        <li><a href="bewertung.html">Bewertung</a></li>
    </ul>
</nav>
